body{
  margin: 0;
  padding: 0;
  background:url("../img/triangle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;

}
.title h1
{
  margin: 0;
  padding: 0;
  color: #262626
  text-transform:uppercase;
  font-size: 36px;
  text-align: center;
}
