body{
  margin: 0;
  padding: 0;
  background:url("../img/triangle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;

}
.title h1
{
  margin: 0;
  padding: 0;
  color: #262626
  text-transform:uppercase;
  font-size: 36px;
  text-align: center;
}

.container
{
  width: 50%;
  height: 400px;
  background: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
}

.container .right
{
  float: right;
  width: 50%;
  height: 400px;
  background-size:cover;
  box-sizing: border-box;
}

.container .left
{
  background:url("../img/triangle.png");
  float:left;
  width:50%;
  height: 400px;
  background-size: cover;
  box-sizing: border-box;
}
