body{
  margin: 0;
  padding: 0;
  background:url("../img/triangle2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: auto;

}
 h1{
   text-align: center;
}
